<nav th:fragment="navbar" class="navbar is-dark level" aria-label="main navigation"
     xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <img th:src="@{/images/logo.png}" src="../static/images/logo.png" alt="logo.png"/>
            <span class="title has-text-white has-text-weight-light">&nbsp;Git<span
                    class="has-text-weight-semibold primary-font">Forge</span>
                </span>
        </a>
    </div>

    <div class="navbar-start">

    </div>

    <div class="navbar-end">

        <div class="navbar-item">
            <div class="field has-addons">
                <p class="control">
                    <input class="input" type="text" placeholder="Find a repository"/>
                </p>
                <p class="control">
                    <button class="button is-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </p>
            </div>
        </div>

        <div class="navbar-item has-dropdown">
            <a class="navbar-link">
                <i class="fa fa-plus-square"></i>
            </a>

            <div class="navbar-dropdown is-right">
                <a href="/repo/new" class="navbar-item">
                    Create Repository
                </a>

            </div>
        </div>


        <div class="navbar-item has-dropdown">
            <a class="navbar-link">
                <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c03d50?d=identicon"
                     alt="avatar.png"/>
            </a>

            <div class="navbar-dropdown is-right">


                <div class="navbar-item">
                    Logged in as
                    <!--<span class="has-text-weight-semibold" th:text="${#authentication.getPrincipal().getUsername()}"></span>-->

                </div>

                <div class="navbar-item">
                    <p class="has-text-weight-semibold">@mvanbrummen</p>
                </div>

                <hr class="navbar-divider"/>


                <a class="navbar-item">
                    Profile
                </a>
                <a href="settings" class="navbar-item">
                    Settings
                </a>

                <hr class="navbar-divider"/>
                <a href="javascript: document.logoutForm.submit()" class="navbar-item">
                    Logout
                </a>

                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </div>
        </div>


    </div>

    <script defer th:src="@{/js/gitforge.js}"></script>

</nav>

