<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="../static/css/bulma-0.7.1/css/bulma.css" th:href="@{/css/bulma-0.7.1/css/bulma.css}"
          type="text/css">
    <link rel="stylesheet" href="../static/css/gitforge.css" th:href="@{/css/gitforge.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css"
          type="text/css"
          th:href="@{/css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
    <title>GitForge</title>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>

<body>

<header th:replace="fragments/navbar.html :: navbar"></header>

<div class="container">
    <div class="columns">
        <div class="column is-10 is-offset-1">

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><i class="fa fa-book"></i><a href="/"><strong>&nbsp;<span
                            th:text="${accountName}"></span></strong></a></li>
                    <li><a th:href="@{'/repo/' + ${accountName} + '/' + ${repoName}}"><strong
                            th:text="${repoName}"></strong></a>
                    </li>

                    <li>
                        <a th:href="@{'/repo/' + ${accountName} + '/' + ${repoName} + '/' + ${branch} + '/commits'}"><strong
                                th:text="Commits"></strong></a></li>
                    <li><a href="#"><strong th:text="${commitHash}"></strong></a></li>
                </ul>
            </nav>

            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field">
                            <div class="dropdown">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">

                                        <span>master</span>
                                        <span class="icon is-small">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <div class="dropdown-item">
                                            <h3 class="has-text-grey-dark title is-size-6">Switch Branch/Tag</h3>
                                        </div>
                                        <div class="dropdown-item">
                                            <input class="input"
                                                   type="text"
                                                   placeholder="Filter..."/>
                                        </div>
                                        <hr class="dropdown-divider"/>

                                        <h3 class="has-text-grey-dark title is-size-7 dropdown-subtitle">
                                            Branches</h3>

                                        <a href="#" class="dropdown-item" th:each="branch : ${branches}">
                                                <span><i class="fa fa-check"></i> <span
                                                        th:text="${branch.name}"></span></span>
                                        </a>

                                        <div th:if="${not #lists.isEmpty(tags)}">
                                            <hr class="dropdown-divider"/>
                                            <h3 class="has-text-grey-dark title is-size-7 dropdown-subtitle">
                                                Tags</h3>

                                            <a href="#" class="dropdown-item" th:each="tag : ${tags}">
                                                    <span><i class="fa fa-check"></i> <span
                                                            th:text="${tag.name}"></span>
                                                    </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div th:remove="tag" th:each="diff : ${commitDiffs}">
                <table class="table is-fullwidth is-bordered">
                    <thead>
                    <tr>
                        <th th:text="${diff.newPath}"></th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <td class="code-td">
                            <div class="content">
                                <pre class="prettyprint"><code th:text="${diff.diff}"></code></pre>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

</body>

</html>