<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="../static/css/bulma-0.7.1/css/bulma.css" th:href="@{/css/bulma-0.7.1/css/bulma.css}"
          type="text/css">
    <link rel="stylesheet" href="../static/css/gitforge.css" th:href="@{/css/gitforge.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css"
          type="text/css"
          th:href="@{/css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
    <title>GitForge</title>
</head>

<body>

<header th:replace="fragments/navbar.html :: navbar"></header>

<div class="container">
    <div class="columns">
        <div class="column is-10 is-offset-1">

            <div>
                <h3 class="has-text-grey-dark title is-size-5">Create a new repository</h3>
                <hr/>
                <form th:object="${newRepositoryForm}" th:action="@{/repo/new}" method="post">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label has-text-grey">Name </label>
                        </div>
                        <div class="field-body">
                            <div class="field is-expanded">
                                <div class="field has-addons">
                                    <p class="control">
                                        <a class="button is-static">
                                            <span sec:authentication="name"></span> &nbsp;/
                                        </a>
                                    </p>
                                    <p class="control is-expanded">
                                        <input th:field="*{name}" name="repoName" class="input"
                                               placeholder="my-awesome-project"/>
                                    </p>
                                </div>
                                <p class="help"></p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label has-text-grey">Description </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <textarea th:field="*{description}" name="repoDescription" class="textarea"
                                          placeholder="Description for project"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label has-text-grey">Visibility</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="member"/>
                                        <span class="has-text-grey"> Public</span> <i class="fa fa-globe"></i>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="member"/>
                                        <span class="has-text-grey"> Private</span> <i class="fa fa-lock"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary" type="submit">
                                        Create
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

                <hr/>
            </div>


        </div>
    </div>
</div>

</body>

</html>