<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="../static/css/bulma-0.7.1/css/bulma.css" th:href="@{/css/bulma-0.7.1/css/bulma.css}">
    <link rel="stylesheet" href="../static/css/gitforge.css" th:href="@{/css/gitforge.css}">
    <link rel="stylesheet" href="../static/css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css"
          th:href="@{/css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
    <title>GitForge</title>
</head>
<body>
<header th:replace="fragments/navbar.html :: navbar"> </header>
<div class="container">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <h3 class="has-text-grey-dark title is-size-5">Repositories</h3>
            <hr/>
            <div class="tabs is-boxed">
                <ul>
                    <li class="is-active"><a>All</a></li>
                    <li><a>Personal</a></li>
                </ul>
            </div>

            <table class="table is-fullwidth">
                <tbody>

                <tr th:each="repo : ${repos}">
                    <td>
                        <i class="fa fa-book"></i>
                        <a th:href="@{'/repo/' + ${username} + '/' + ${repo.name}}"> <strong th:text="${ username + ' / ' + repo.name }"></strong></a> <span
                            class="tag is-light">master</span>
                        <p class="has-text-grey-dark is-size-6" th:text="${repo.description}"></p>
                    </td>
                    <td class="has-text-right"><i class="fa fa-star"></i> <span class="is-size-7">899    </span> <i
                            class="fa fa-globe"></i>
                        <p class="has-text-grey-dark is-size-7">modified today</p></td>
                </tr>
                </tbody>
            </table>

            <hr/>

            <nav class="pagination is-centered is-small" aria-label="pagination">
                <a class="pagination-previous">Previous</a>
                <a class="pagination-next">Next page</a>
                <ul class="pagination-list">
                    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" aria-label="Goto page 45">8</a></li>
                    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">9</a></li>
                    <li><a class="pagination-link" aria-label="Goto page 47">10</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" aria-label="Goto page 86">13</a></li>
                </ul>
            </nav>

        </div>
    </div>
</div>

</body>

</html>