<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="../static/css/bulma-0.7.1/css/bulma.css" th:href="@{/css/bulma-0.7.1/css/bulma.css}"
          type="text/css">
    <link rel="stylesheet" href="../static/css/gitforge.css" th:href="@{/css/gitforge.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css"
          type="text/css"
          th:href="@{/css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
    <title>GitForge</title>
</head>

<body>

<header th:replace="fragments/navbar.html :: navbar"></header>

<div class="container">
    <div class="columns">
        <div th:object="${repository}" class="column is-10 is-offset-1">

            <div class="columns">
                <div class="column">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><i class="fa fa-book"></i><a href="/"><strong>&nbsp;<span sec:authentication="name"></span></strong></a></li>
                            <li><a href="#"><strong th:text="${repoName}"></strong></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="column">
                    <div class="level is-pulled-right repo-controls">
                        <div class="level-item">
                            <div class="field has-addons">
                                <p class="control">
                                    <button class="button is-small">
                                        <i class="fa fa-bell"></i>&nbsp; Watch
                                    </button>
                                </p>
                                <p class="control">
                                    <input class="input is-small repo-input" type="text" value="2" readonly/>
                                </p>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field has-addons">
                                <p class="control">
                                    <button class="button is-small">
                                        <i class="fa fa-star"></i>&nbsp;Star
                                    </button>
                                </p>
                                <p class="control">
                                    <input class="input is-small repo-input" type="text" value="890" readonly/>
                                </p>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field has-addons">
                                <p class="control">
                                    <button class="button is-small">
                                        <i class="fas fa-code-branch"></i>&nbsp; Fork
                                    </button>
                                </p>
                                <p class="control">
                                    <input class="input is-small repo-input" type="text" value="2" readonly/>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="tabs is-boxed">
                <ul>
                    <li class="is-active">
                        <a href="#">
                            <span class="icon is-small"><i class="fa fa-code"></i></span>
                            <span>Code</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/repo/' + ${username} + '/' + ${repoName} + '/settings'}">
                            <span class="icon is-small"><i class="fa fa-cog"></i></span>
                            <span>Settings</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="notification" th:if="*{description != ''}">
                <h4 class="subtitle is-size-6" th:text="*{description}">

                </h4>
            </div>


            <div th:if="*{repoSummary.isClean()}">
                <div>
                    <h3 class="has-text-grey-dark title is-size-4">Get started</h3>
                    <hr/>


                    <div>
                        <h5 class="has-text-grey title is-size-6">Global Configuration</h5>
                        <pre>
                <code>
                    <p>git config --global user.name "Michael Van Brummen"</p>
                    <p>git config --global user.email "michaelvanbrummen@gmail.com"</p>
                </code>
            </pre>
                    </div>
                    <hr/>

                    <div>
                        <h5 class="has-text-grey title is-size-6">New Repository</h5>
                        <pre>
                <code>
                    <p>git clone git@gitlab.com:<span sec:authentication="name"></span>/<span th:text="${repoName}"></span>.git</p>
                    <p>cd test</p>
                    <p>touch README.md</p>
                    <p>git add README.md</p>
                    <p>git commit -m "add README"</p>
                    <p>git push -u origin master</p>
                </code>
            </pre>
                    </div>
                    <hr/>
                    <div>
                        <h5 class="has-text-grey title is-size-6">Existing Folder</h5>
                        <pre>
                <code>
                    <p>cd existing_folder</p>
                    <p>git init</p>
                    <p>git remote add origin git@gitlab.com:<span sec:authentication="name"></span>/<span th:text="${repoName}"></span>.git</p>
                    <p>git add .</p>
                    <p>git commit -m "Initial commit"</p>
                    <p>git push -u origin master</p>
                </code>
            </pre>
                    </div>
                </div>

            </div>


            <div th:if="*{!repoSummary.isClean()}">
                <div class="box repo-activity-bar" style="padding: 0.5rem" }>
                    <nav class="level">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading"><i class="fas fa-clock" aria-hidden="true"></i>
                                    <a th:href="@{${repoName} + '/master' + '/commits'}"><span class="has-text-weight-bold">Commits</span> <span
                                            th:text="*{repoSummary.totalCommits}"></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading"><i class="fas fa-code-branch" aria-hidden="true"></i>
                                    <a th:href="@{${repoName} + '/branch'}"> <span class="has-text-weight-bold">Branches</span> <span
                                            th:text="*{#lists.size(repoSummary.branches)}"></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <a th:href="@{${repoName} + '/contributors'}" class="heading"><i class="fa fa-users" aria-hidden="true"></i> <span
                                        class="has-text-weight-bold">Contributors</span> <span th:text="*{repoSummary.totalContributors}"></span></a>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading"><i class="fa fa-balance-scale" aria-hidden="true"></i> <span
                                        class="has-text-weight-bold">License</span> MIT
                                </p>
                            </div>
                        </div>

                    </nav>

                </div>

                <nav class="level">
                    <div class="level-left">

                        <div class="level-item">
                            <div class="field">
                                <div class="dropdown">
                                    <div class="dropdown-trigger">
                                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">

                                            <span>master</span>
                                            <span class="icon is-small">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                        <div class="dropdown-content">
                                            <div class="dropdown-item">
                                                <h3 class="has-text-grey-dark title is-size-6">Switch Branch/Tag</h3>
                                            </div>
                                            <div class="dropdown-item">
                                                <input class="input"
                                                       type="text"
                                                       placeholder="Filter..."/>
                                            </div>
                                            <hr class="dropdown-divider"/>

                                            <h3 class="has-text-grey-dark title is-size-7 dropdown-subtitle">
                                                Branches</h3>

                                            <a href="#" class="dropdown-item" th:each="branch : ${branches}">
                                                <span><i class="fa fa-check"></i> <span
                                                        th:text="${branch.name}"></span></span>
                                            </a>

                                            <div th:if="${not #lists.isEmpty(tags)}">
                                                <hr class="dropdown-divider"/>
                                                <h3 class="has-text-grey-dark title is-size-7 dropdown-subtitle">
                                                    Tags</h3>

                                                <a href="#" class="dropdown-item" th:each="tag : ${tags}">
                                                    <span><i class="fa fa-check"></i> <span
                                                            th:text="${tag.name}"></span>
                                                    </span>
                                                </a>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="level-item">

                            <div class="dropdown">
                                <div class="dropdown-trigger">
                                    <button class="button"
                                            aria-haspopup="true"
                                            aria-controls="dropdown-menu">

                            <span class="icon is-small">
                                <i class="fa fa-plus" aria-hidden="true"></i>

                            </span>
                                        <span class="icon is-small">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <a th:href="@{${repoName} + '/branch/create'}" class="dropdown-item">New Branch</a>
                                    </div>
                                    <div class="dropdown-content">
                                        <a href="#" class="dropdown-item">New Tag</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="level-right">
                        <div class="level-item">

                            <div class="dropdown">
                                <div class="dropdown-trigger">
                                    <button class="button"
                                            aria-haspopup="true"
                                            aria-controls="dropdown-menu">

                            <span class="icon is-small">
                                <i class="fas fa-download"></i>

                            </span>
                                        <span class="icon is-small">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <a th:href="@{${repoName} + '/zip'}" class="dropdown-item">Download .zip</a>
                                    </div>
                                    <div class="dropdown-content">
                                        <a href="#" class="dropdown-item">Download .tar.gz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field has-addons">
                                <p class="control">
                                <div class="select">
                                    <select>
                                        <option>HTTPS</option>
                                        <option>SSH</option>
                                    </select>
                                </div>
                                </p>
                                <p class="control">
                                    <input class="input" type="text"
                                           th:value="${'http://gitforge.com/' + username + '/' + repoName}" readonly/>
                                </p>
                                <p class="control">
                                    <button class="button">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </nav>


                <table class="table is-fullwidth table-hoverable">
                    <thead>
                    <tr>
                        <th>
                            <p class="has-text-grey">
                                <span th:text="*{repoSummary.lastCommit?.commitHash}"></span> <span
                                    th:text="*{repoSummary.lastCommit?.message}"></span> authored by <span
                                    th:text="*{repoSummary.lastCommit?.committerName}"></span>
                            </p>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="item : *{repoSummary.items}">
                        <td>
                            <i th:classappend="${item.isDir() ? 'fa fa-folder' : 'far fa-file-code'}"></i>
                            <a th:href="@{'/repo/' + ${username} + '/' + ${repoName} + '/blob/' + ${item.path}}"
                               th:text="${item.path}"></a>
                        </td>
                        <td class="has-text-right has-text-grey">init commit</td>
                        <td class="has-text-right has-text-grey">2 years ago</td>
                    </tr>

                    </tbody>
                </table>

                <table class="table is-fullwidth is-bordered" th:if="*{repoSummary.readme != null}">
                    <thead>
                    <tr>
                        <th><i class="fa fa-book"></i> README.md</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="content readme-contents">
                                <span th:remove="tag" th:utext="*{repoSummary.readme}"></span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

</body>

</html>