<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="../static/css/bulma-0.7.1/css/bulma.css" th:href="@{/css/bulma-0.7.1/css/bulma.css}"
          type="text/css">
    <link rel="stylesheet" href="../static/css/gitforge.css" th:href="@{/css/gitforge.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css"
          type="text/css"
          th:href="@{/css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
    <title>GitForge</title>
</head>

<body>

<header th:replace="fragments/navbar.html :: navbar"> </header>

<div class="container">
    <div class="columns">
        <div class="column is-10 is-offset-1">

            <div class="columns">
                <div class="column">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><i class="fa fa-book"></i><a href="/"><strong>&nbsp;mvanbrummen</strong></a></li>
                            <li><a th:href="@{'/repo/mvanbrummen/' + ${repoName}}"><strong th:text="${repoName}"></strong></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="column">
                    <div class="level is-pulled-right repo-controls">
                        <div class="level-item">
                            <div class="field has-addons">
                                <p class="control">
                                    <button class="button is-small">
                                        <i class="fa fa-bell"></i>&nbsp; Watch
                                    </button>
                                </p>
                                <p class="control">
                                    <input class="input is-small repo-input" type="text" value="2" readonly/>
                                </p>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field has-addons">
                                <p class="control">
                                    <button class="button is-small">
                                        <i class="fa fa-star"></i>&nbsp;Star
                                    </button>
                                </p>
                                <p class="control">
                                    <input class="input is-small repo-input" type="text" value="890" readonly/>
                                </p>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field has-addons">
                                <p class="control">
                                    <button class="button is-small">
                                        <i class="fas fa-code-branch"></i>&nbsp; Fork
                                    </button>
                                </p>
                                <p class="control">
                                    <input class="input is-small repo-input" type="text" value="2" readonly/>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="tabs is-boxed">
                <ul>
                    <li>
                        <a th:href="@{'/repo/mvanbrummen/' + ${repoName}}">
                            <span class="icon is-small"><i class="fa fa-code"></i></span>
                            <span>Code</span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a href="#">
                            <span class="icon is-small"><i class="fa fa-cog"></i></span>
                            <span>Settings</span>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="box">
                <form th:action="@{'/repo/mvanbrummen/' + ${repoName}}" th:object="${deleteRepoForm}" method="post">
                    <div class="field">
                        <label class="label">Delete Repository</label>
                        <p class="help">Type the name of the repository to delete</p>
                        <div class="control">
                            <input class="input is-danger" type="text" placeholder="Type repository name"/>
                        </div>
                    </div>
                    <button class="button is-danger">Delete</button>
                </form>
            </div>
        </div>


    </div>
</div>

</body>

</html>