<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="../static/css/bulma-0.7.1/css/bulma.css" th:href="@{/css/bulma-0.7.1/css/bulma.css}">
    <link rel="stylesheet" href="../static/css/gitforge.css" th:href="@{/css/gitforge.css}">
    <link rel="stylesheet" href="../static/css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css"
          th:href="@{/css/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}">
    <title>GitForge</title>
</head>
<body>
<div class="container">
    <div class="column is-6 is-offset-3">
        <div class="has-text-centered" style="margin-bottom: 1rem;">
            <a href="/about">
                <h3 class="title has-text-grey is-size-1">Git<span style="color: #ff8026">Forge</span></h3>
            </a>
            <h3 class="subtitle has-text-grey">Signup to create an account</h3>
        </div>

        <div class="box">
            <form action="#" th:action="@{/signup}" th:object="${signupForm}" method="post">
                <div class="field">
                    <label class="label">Username</label>
                    <p class="control has-icons-left">
                        <input th:field="*{username}" class="input" type="text" placeholder="Pick a username"/>
                        <span class="icon is-small is-left">
                                <i class="fa fa-user"></i>
                            </span>
                    </p>
                </div>
                <div class="field">
                    <label class="label">Email Address</label>
                    <p class="control has-icons-left">
                        <input th:field="*{emailAddress}" class="input" type="email" placeholder="you@example.com"
                               onChange={handleEmailAddressChange}/>
                        <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                    </p>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <p class="control has-icons-left">
                        <input th:field="*{password}" class="input" type="password" placeholder="Choose your password"/>
                        <span class="help">Use at least one letter, one numeral, and seven characters.</span>
                        <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                    </p>
                </div>
                <button class="button is-block is-success is-fullwidth">Sign up to GitForge</button>

                <div class="has-text-centered" style="padding-left: 4rem;padding-right: 4rem;">
                    <p class="help">By clicking "Sign up to GitForge you accept our <a href="#">terms of service</a> and
                        <a href="#">privacy agreement</a>.</p>
                </div>
            </form>
        </div>

        <div style="margin-top: 1rem">
            <a href="/login">Already have an account?</Link>
        </div>
    </div>
</div>
</body>
</html>